
.profile-picture-wrapper {
  display: flex;
  justify-content: center;
  
}


.profile-picture-wrapper {
  
  
}

.profile-picture > img {
  width: 400px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  width: 50%;
}

body {
  padding-top: 100px;
}

table > tbody > tr > td {
  white-space: nowrap; 
}

h3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
