
body {
  padding-top: 54px;
}

table > tbody > tr > td {
  white-space: nowrap; 
}

h3 {
  /*border-bottom-width: 1px;
  border-bottom-style: solid;*/
}

.site:nth-child(even) {
  background-color: #e3f2fd;
}

.site:nth-child(odd) {
  background-color: #ffffff;
}

.fade-in-appear {
  opacity: 0.01;
}

.fade-in-appear.fade-in-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
